//COLORS

$black:#000;
$grey:#333;

//COLORS

// Scaffolding

$text-color: $black;
$font-family-base: 'Roboto', sans-serif;
$font-family-cond: 'Roboto Condensed', sans-serif;
$font-size: 14px;
//** Background color for `<body>`.
$body-bg:               #fff !default;
//$text-color:;
//$link-color:;
//$link-hover-color:;
//$link-hover-decoration:;

// Scaffolding



// Navbar

$navbar-height:80px;
$navbar-default-link-color: $black;
// $navbar-default-link-hover-color:;
$navbar-border-radius:0;
$navbar-margin-bottom:0;
$background-navbar: transparent;
$background-navbar-expand: #171B1E;
$navbar-default-bg: transparent;
.navbar {border:none;}
.navbar-brand {padding:15px 15px !important;}
//navbar-padding-horizontal:;


// Navbar

//FOOTER



//FOOTER

// BUTTONS

$btn-font-weight: 'Roboto', sans-serif;

// BUTTONS

// Typography

$headings-font-weight: 700;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;
//$font-size-h1:;
//$font-size-h2:; 
//$font-size-h3:;
//$font-size-h4:;
//$font-size-h5:;

// Typography
